services:
  couchdb:
    image: couchdb:3
    container_name: couchdb
    ports:
      - "5984:5984"
    environment:
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: ${COUCHDB_PASSWORD}
      COUCHDB_SECRET: ${COUCHDB_SECRET}
    volumes:
      - couchdb_data:/opt/couchdb/data

    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5984/_up" ]
      interval: 10s
      timeout: 3s
      retries: 10
    restart: unless-stopped

  neo4j:
    image: neo4j:2025.08.0
    container_name: neo4j
    restart: unless-stopped
    ports:
      - "127.0.0.1:7474:7474"
      - "127.0.0.1:7687:7687"
    environment:
      NEO4J_AUTH: "neo4j/123456789"
      NEO4J_PLUGINS: '["apoc","graph-data-science"]'
      NEO4J_apoc_export_file_enabled: "true"
      NEO4J_apoc_import_file_enabled: "true"
      NEO4J_server_directories_import: "/import"
      NEO4J_dbms_security_procedures_unrestricted: "apoc.*,gds.*"
    volumes:
      - neo4j-data:/data
      - neo4j-logs:/logs
      - neo4j-import:/import
      # - neo4j-plugins:/plugins
      - neo4j-backups:/backups

volumes:
  couchdb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DATA_ROOT}/CouchDB/couchdb-data

  neo4j-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DATA_ROOT}/Neo4j/neo4j-data
  neo4j-logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DATA_ROOT}/Neo4j/neo4j-logs
  neo4j-import:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DATA_ROOT}/Neo4j/neo4j-import

  # neo4j-plugins:
  #   driver: local
  #   driver_opts:
  #     type: none
  #     o: bind
  #     device: ${DATA_ROOT}/plugins

  neo4j-backups:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DATA_ROOT}/Neo4j/neo4j-backups
